.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3em;
}
@media (min-width: 48rem) {
	.container {
		padding: 4em;
	}
}
@media (min-width: 64rem) {
	.container {
		padding: 10em 3em;
	}
}
.heading {
	position: relative;
	z-index: 3;
	composes: heading from "../style.css";
	text-align: center;
	text-transform: uppercase;
}
.separator {
	position: relative;
	z-index: 3;
	width: 2px;
	background-color: #86c232;
	height: 3rem;
	margin-top: 2rem;
}
.items {
	margin-top: 3rem;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	position: relative;
	flex-wrap: wrap;
	align-items: center;
}
.item {
	position: relative;
	display: flex;
	flex-basis: calc(33% - 2rem);
	min-width: 18.75rem;
	min-height: 18.75rem;
	margin: 1rem;
	overflow: hidden;
}
.item_heading {
	composes: subheading from "../style.css";
	text-align: center;
	margin: 0 auto;
	text-shadow: 0 0px 15px #000;
}
.overlay_a {
	border-bottom: 100px solid transparent;
	border-left: 100px solid rgba(34, 38, 41, 0.9);
	border-right: 100px solid transparent;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.overlay_b {
	border-bottom: 100px solid transparent;
	border-left: 100px solid transparent;
	border-right: 100px solid rgba(34, 38, 41, 0.9);
	position: absolute;
	right: 0px;
	top: 0;
	z-index: 2;
}
.overlay_c {
	border-top: 100px solid transparent;
	border-left: 100px solid rgba(34, 38, 41, 0.9);
	border-right: 100px solid transparent;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}
.overlay_d {
	border-top: 100px solid transparent;
	border-left: 100px solid transparent;
	border-right: 100px solid rgba(34, 38, 41, 0.9);
	position: absolute;
	right: 0px;
	bottom: 0;
	z-index: 2;
}
.content {
	position: absolute;
	z-index: 4;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 2rem 1rem;
}
.preview {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	filter: blur(1px);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
