.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}
.to_left {
	padding: 3em;
	display: flex;
	flex-basis: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.to_left img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	flex-basis: 100%;
	z-index: 1;
}
.separator {
	position: relative;
	z-index: 3;
	width: 2px;
	background-color: #86c232;
	height: 3rem;
	margin-top: 2rem;
}
.heading {
	composes: heading from "../style.css";
	z-index: 3;
	text-transform: uppercase;
	text-align: center;
}
.subheading {
	composes: subheading from "../style.css";
	z-index: 3;
	text-align: center;
	margin-top: 3rem;
}
.overlay {
	composes: overlay from "../style.css";
	z-index: 2;
}
.to_right {
	position: relative;
	padding: 3em;
	display: flex;
	flex-basis: 100%;
}
.description {
	composes: description from "../style.css";
	z-index: 3;
}
.corner_top_left {
	composes: corner_top_left from "../style.css";
}
.corner_bottom_left {
	composes: corner_bottom_left from "../style.css";
}
@media (min-width: 48rem) {
	.to_left {
		padding: 4em;
		flex-basis: 50%;
	}
	.to_right {
		padding: 4em;
		flex-basis: 50%;
	}
	.container {
		align-items: stretch;
	}
	.heading {
	}
}
@media (min-width: 64rem) {
	.to_left {
		padding: 10em 3em;
	}
	.to_right {
		padding: 10em 3em;
	}
}
