.container {
	position: relative;
	min-height: 20rem;
}
.video {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}
.video video {
	right: 0;
	min-width: 100%;
	min-height: 100%;
}
.heading {
	composes: heading from "../style.css";
	position: absolute;
	top: auto;
	left: 3rem;
	right: 0;
	bottom: 3rem;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: radial-gradient(transparent, #222629);
}
