@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:400,500,600,700");
.container {
	composes: root from "./defaults.css";
	position: relative;
	background: var(--background_primary);
	color: var(--text);
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem;
	z-index: 20;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 5rem;
}
.navigation {
	overflow: hidden;
	margin-right: -1rem;
	margin-left: 2rem;
}
.intro_section {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: row;
	min-height: 22.5rem;
	overflow: hidden;
}
.about_section {
	overflow-x: hidden;
}
.beginning_section {
	overflow-x: hidden;
}
.services_section {
	overflow-x: hidden;
	background: var(--background_accent);
	position: relative;
	overflow: hidden;
}
.gradient {
	background: radial-gradient(
			ellipse at right,
			var(--brand_primary),
			transparent 70%
		),
		radial-gradient(
			ellipse at left,
			var(--brand_secondary),
			var(--text) 70%
		);
	position: absolute;
	top: -100%;
	height: 200%;
	bottom: 0;
	left: 0;
	right: 0;
}
.clients_section {
	overflow-x: hidden;
}
.web_section {
	overflow-x: hidden;
}
.frontend_section {
	overflow-x: hidden;
}
.portfolio_section {
	overflow-x: hidden;
}
