.nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	height: 7rem;
	width: 100%;
	overflow-x: scroll;
	padding: 1em 1em 0em 1em;
	background: linear-gradient(to bottom, #000 10%, transparent 90%);
}
.logo {
	margin-right: 1rem;
}
.logo img {
	height: 5rem;
}
.nav_items {
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav_item {
	width: 9rem;
	cursor: pointer;
	text-align: left;
	height: 5rem;
	position: relative;
	box-shadow: rgba(134, 194, 98, 0.2) -5px 2px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	composes: description from "../style.css";
	text-transform: uppercase;
	border-radius: 3px;
}
@media (min-width: 64rem) {
	.nav {
		padding-left: 3em;
	}
}
