.layout {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
.layout_screen {
	composes: layout;
	height: auto;
	overflow: auto;
}
.layout .container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	transform-origin: top left;
	background-color: #000;
}
#light {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#dark {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.back {
	padding: 1rem;
	z-index: 30;
	position: fixed;
	right: 0;
	bottom: 0;
	font-weight: bold;
}
.back_simple {
	composes: back;
	color: green;
}
.back_complex {
	composes: back;
	color: #ec547b;
	background: linear-gradient(to right, #ed7456, #ec547b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.hidden {
	position: relative;
	z-index: -1;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.15s;
	transition-delay: 0.3s;
	transition-timing-function: ease-in-out;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.simple {
	composes: hidden;
	opacity: 1;
	z-index: 10;
	position: relative;
	top: auto;
	bottom: auto;
	height: auto;
}
.complex {
	composes: hidden;
	opacity: 1;
	z-index: 10;
	position: relative;
	top: auto;
	bottom: auto;
	height: auto;
}
