.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}
.to_left {
	position: relative;
	padding: 3em;
	display: flex;
	flex-basis: 100%;
	order: 2;
}
.to_left img {
	max-width: 100%;
	z-index: 1;
	object-fit: contain;
}
.to_right {
	order: 1;
	padding: 3em;
	display: flex;
	flex-basis: 100%;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 25rem;
}
.to_right img {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
}
.separator {
	position: relative;
	z-index: 3;
	width: 2px;
	background-color: #86c232;
	height: 3rem;
	margin-top: 2rem;
}
.heading {
	composes: heading from "../style.css";
	z-index: 3;
	text-transform: uppercase;
	text-align: center;
}
.subheading {
	composes: subheading from "../style.css";
	z-index: 3;
	text-align: center;
	margin-top: 3rem;
}
.content {
	display: flex;
	flex-basis: calc(100% - 7rem);
	flex-direction: column;
}
.items {
}
.item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 3rem;
}
.item_heading {
}
.service {
	display: flex;
	max-height: 5rem;
	flex-basis: 5rem;
}
.item_heading {
	composes: subheading from "../style.css";
	font-size: 1.5rem;
}
.item_subheading {
	composes: description from "../style.css";
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 2;
}
.description {
	composes: description from "../style.css";
}
@media (min-width: 48rem) {
	.to_left {
		padding: 4em;
		flex-basis: 50%;
		order: 1;
	}
	.to_right {
		padding: 4em;
		flex-basis: 50%;
		order: 2;
	}
	.container {
		flex-direction: row;
	}
}
@media (min-width: 64rem) {
	.to_left {
		padding: 10em;
	}
	.to_right {
		padding: 10em;
	}
}
