.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3em;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
@media (min-width: 48rem) {
	.container {
		padding: 4em;
	}
	.description {
		margin: 0 auto;
	}
}
@media (min-width: 64rem) {
	.container {
		padding: 10em;
	}
}
.beginning_section_img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 1;
}
.overlay {
	composes: overlay from "../style.css";
	z-index: 2;
}
.heading {
	position: relative;
	z-index: 3;
	composes: heading from "../style.css";
	text-align: center;
	text-transform: uppercase;
}
.separator {
	position: relative;
	z-index: 3;
	width: 2px;
	background-color: #86c232;
	height: 3rem;
	margin-top: 2rem;
}
.description {
	position: relative;
	z-index: 3;
	composes: description from "../style.css";
	text-align: center;
	margin-top: 3rem;
}
