@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Open+Sans:400,600,700");

.complex {
	background-color: #222629;
	position: relative;
}
.heading {
	font-size: 2.3rem;
	line-height: 1.5;
	color: #b5b5b5;
	font-family: "Josefin Sans", sans-serif;
}
.intro_section {
	position: relative;
	width: 100vw;
	height: 100vh;
	z-index: 5;
}
.navigation {
	z-index: 10;
	position: relative;
}
.beginning_section {
	position: relative;
	width: 100vw;
}
.subheading {
	font-size: 1.5rem;
	line-height: 1.5;
	color: #b5b5b5;
	max-width: 30rem;
	font-family: "Open Sans", sans-serif;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background: rgba(34, 38, 41, 0.9);
}
.description {
	font-size: 1rem;
	line-height: 1.5;
	max-width: 30rem;
	color: #b5b5b5;
	font-family: "Open Sans", sans-serif;
}
.corner_top_left {
	border-bottom: 100px solid transparent;
	border-left: 100px solid transparent;
	border-right: 100px solid rgba(34, 38, 41, 0.9);
	position: absolute;
	left: -200px;
	top: 0;
	z-index: 2;
}
.corner_bottom_left {
	border-top: 100px solid transparent;
	border-left: 100px solid transparent;
	border-right: 100px solid rgba(34, 38, 41, 0.9);
	position: absolute;
	left: -200px;
	bottom: 0;
	z-index: 2;
}
.corner_bottom_right {
	border-top: 100px solid transparent;
	border-left: 100px solid rgba(34, 38, 41, 0.9);
	border-right: 100px solid transparent;
	position: absolute;
	left: 100%;
	bottom: 0;
	z-index: 2;
}
.corner_top_right {
	border-bottom: 100px solid transparent;
	border-left: 100px solid rgba(34, 38, 41, 0.9);
	border-right: 100px solid transparent;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 2;
}

@media (min-width: 48rem) {
	.heading {
		font-size: 2.3rem;
		line-height: 1.7;
	}
	.subheading {
		font-size: 1.5rem;
		line-height: 1.7;
	}
	.description {
		font-size: 1.2rem;
		line-height: 1.7;
	}
}
@media (min-width: 64rem) {
	.heading {
		font-size: 4rem;
	}
	.subheading {
		font-size: 2.5rem;
	}
	.description {
		font-size: 1rem;
	}
}
