.container {
	composes: block from "../defaults.css";
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-end;
}
.content {
	flex-basis: 100%;
	padding: 2rem;
	position: absolute;
	left: 0;
	right: 0;
	transition-property: flex-basis, padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.box {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	width: auto;
	z-index: 5;
	opacity: 0.75;
	filter: blur(5px);
	box-shadow: 5px 5px 1px #fff;
	background-color: var(--background_accent);
	transition-property: width, left, opacity, filter, box-shadow, top;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.heading {
	composes: heading from "../defaults.css";
	margin-top: 1rem;
	letter-spacing: 0.2rem;
	line-height: 1;
	z-index: 10;
}
.heading:first-letter {
	color: var(--brand_secondary);
}
.description {
	margin-top: 3rem;
	padding-left: 4rem;
	max-width: 30rem;
	line-height: 1.7;
	position: relative;
	z-index: 10;
	transition-property: padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.line {
	composes: line from "../defaults.css";
}
.preview {
	flex-basis: 100%;
	max-width: 30rem;
	position: relative;
	overflow: hidden;
	margin-bottom: 0;
	transition-property: margin, flex-basis, top;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
	top: 1rem;
	bottom: 0;
	left: auto;
	right: 0;
	width: 100%;
}
.image {
	composes: background from "../defaults.css";
	position: relative;
	height: 100%;
	padding-top: 130%;
	transition-property: padding;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
.gradient {
	composes: gradient from "../defaults.css";
	position: absolute;
	height: 130%;
	top: 30%;
	bottom: 0;
	right: 0;
	left: 0;
	transition-property: top;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

@media (min-width: 48rem) {
	.preview {
		margin-bottom: 0;
	}
	.line {
		width: 2rem;
	}
}
@media (min-width: 64rem) {
	.container {
		flex-direction: row-reverse;
	}
	.box {
		opacity: 0;
	}
	.content {
		padding: 5rem 0 5rem 5rem;
		flex-basis: 60%;
		position: relative;
	}
	.heading {
		font-size: 3rem;
		letter-spacing: 0.5rem;
	}
	.preview {
		flex-basis: 40%;
		max-width: none;
		margin-bottom: -14rem;
		margin-top: 0;
		position: relative;
		top: 0;
		height: auto;
	}
	.image {
		padding-top: 0;
	}
	.description {
		padding-left: 12rem;
	}
	.line {
		width: 10rem;
	}
}
@media (min-width: 80rem) {
	.heading {
		font-size: 4.5rem;
	}
}
